* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
a {
  cursor: pointer;
}
a:hover{
  text-decoration: none;
}
body {
  background: #FFF;
  width: 100%;
  height: auto;
}
/* Header */
#total-wrapper {
  position: relative;
}
#header_b {
  background: url(../images/banner.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  border-bottom: 3px solid #c2c2c2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  float: left;
}

#toppage {
  font-family: 'Arial';
  font-size: 13.75px;
  color: #777777;
  height: 40px;
}
#toppage a {
  color: #777777;
}
.tray_top {
  padding: 13px 0;
  margin: 0;
}
.tray_top li {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
  font-family: sourece_san;
}
.tray_top li i {
  color: #f27cac;
  margin-right: 7px;
}

.flag{
  float: right;
  margin-left: 25px;
}
.flag a{
  display: inline-block;
}
.flag-vi{
  background: url("../images/flag.png") center left no-repeat;
  width: 20px;
  height: 12px;
}
.flag-en{
  background: url("../images/flag.png") center right no-repeat;
  width: 20px;
  height: 12px;
}
.login{
  float: right;
}
.box-login{
  color: #f27cac;
  padding: 13px 0;
}
.login a{
  color: #f27cac;
  font-size: 11px;
  padding: 0 13px;
  text-transform: uppercase;
}
.shopping_nav {
  display: none;
}
.line_header {
  background: url(../images/line_header.jpg) repeat-x;
  height: 1px;
  width: 100%;
}

header {
  float: left;
  width: 100%;
}
.col_search{
  display: inline-block;
  /* float: left; */
}
.col_search span{
  text-transform: uppercase;
  margin-top: 5px;
  font-family: sourece_san;
  font-size: 13px;
}
#keyword{
  background: no-repeat;
  box-shadow: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #e2e2e2;
  font-size: 13px;
  padding-top: 15px;
}
#searchSubmit{
  background: none;
  border: none;
  margin-top: 10px;
}
.m-search{
  position: relative;
  z-index: 99;
}
.box_search{
  padding: 30px 0;
}
header .logo {
  text-align: center;
}

header .shopping{
	float: right;
	padding: 30px 0;
	margin-right: -25px;
}
header .shopping a{
	font-size: 13px;
	color: #333333;
}
header  .cart{
	float:right;
	width:100px;
	height:33px;
	border-radius:50%;
	position:relative;
	z-index: 20;
	margin-left: 10px;
	top: 6px;

	text-transform: uppercase;
	margin-top: 5px;
	font-family: sourece_san;
	font-size: 13px;
}
header  .cart i{
	color: #343434;
	font-size: 17.3px;
	position: relative;
	right: -10px;
}
header  .cart span{
	position:absolute;
	width:22px;
	height:22px;
	border:solid 1px #f06aa1;
	border-radius:50%;
	text-align:center;
	line-height:22px;
	font-family:'Arial';
	color:#fff;
	background: #f06aa1;
	top: -12px;
	right: 10px;
}
.header .navbar-header{
	display: none;
}

@media(max-width:990px) {
	nav{
		margin-top:10px;
		float: left;
		width: 100%;
	}
	.header .navbar-header{
		display: block;
	}
}



@media (min-width: 991px) {

	nav .custom-caret {
		display:none;
	}
	.navbar-default{
		border:none;
		box-shadow:none;
		margin-bottom:0px;
		background:none;
		min-height:auto;
	}

	.navbar-brand { height:auto; padding:0px; display:none;}
	/*Navbar Collapse*/
	.header .navbar-collapse {
		padding: 0;

		width: 1030px;
		margin: 0 auto;
	}


	/*Navbar*/
	.header .navbar-nav {
		/*float:none;*/
		display: flex;
		flex-direction: row;
		width: 100%;
		position: relative;
		height:auto;
	}
	.header .navbar-default .navbar-nav > li{
		flex-grow: 1;
		display:inline-block;
		border: 0.5px solid rgba(255,255,255,0);
	}
	.header .navbar-default .navbar-nav > li > a {
		font-family: Lato-Bold;
		font-size: 12.5px;
		color: #555555;
		text-transform: uppercase;
		text-align: center;
	}
	.navbar-nav li a{
		display: block;
		color: #777777;
	}
	/* .navbar-default .navbar-nav > li > a{

	} */
	.header .navbar-default .navbar-nav > li.active > a{
		color:#0375b1;
	}
	.header .navbar-default .navbar-nav > li:hover > a{
		color:#e65893;
	}
	/* .header .navbar-default .navbar-nav > li:hover .icon_menu,
	.header .navbar-default .navbar-nav > li.active .icon_menu{
	} */
	.header .navbar-default .navbar-nav > li:hover,
	.header .navbar-default .navbar-nav > li.active{
		color: #e65893;
	}
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus{
		background: none;
		box-shadow: none;
	}
	.header .navbar-default .navbar-nav > li > a:focus,
	.header .navbar-default .navbar-nav > .active > a,
	.header .navbar-default .navbar-nav > .active > a:hover,
	.header .navbar-default .navbar-nav > .active > a:focus {
		color: #0375b1;
	}

	.header .navbar-default .navbar-nav > .open > a,
	.header .navbar-default .navbar-nav > .open > a:hover,
	.header .navbar-default .navbar-nav > .open > a:focus {
		color:#0375b1;
	}

	/*Dropdown Menu*/
	.dropdown > a:after{
		display:none !important;
	}
	.dropdown-submenu > a:after { top:11px !important}
	.header .dropdown-menu {
		padding: 0;
		border: none;
		min-width: 200px;
		border-radius: 0;
		z-index: 9999 !important;
		margin-top: 0px !important;
		border-top: solid 1px #cccccc;
		background:#ffffff ;
	}

	.header .dropdown-menu li a {
		color: #555555;
		font-size: 12px;
		font-weight: 400;
		padding: 10px 15px;
		border-bottom: solid 1px #cccccc;
	}
	.header .dropdown-menu .active > a,
	.header .dropdown-menu li > a:hover {
		color: #0375b1 !important;
		filter: none !important;
		background: #ffffff !important;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}

	.header .dropdown-menu li > a:focus {
		background: none;
		filter: none !important;
	}

	.header .navbar-nav > li.dropdown:hover > .dropdown-menu {
		display: block;
	}

	.header .open > .dropdown-menu,
	.header-v1 .open > .dropdown-menu {
		display: none;
	}
}

/* Dropdown Submenu for BS3 */

.dropdown-submenu {
	position: relative;
}

.dropdown > a:after,
.dropdown-submenu > a:after {
	top: 8px;

	right: 9px;
	font-size: 11px;
	content: "\f105";
	position: absolute;
	font-weight: normal;
	display: inline-block;
	font-family: FontAwesome;
}

@media (max-width: 990px) {
	.dropdown-submenu > a:after {
		content: " ";
	}
}

.dropdown > a:after {
	top: 18px;
	right: 7px;
	content: "\f107";
}

.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -5px;
	margin-left: 0px;
}

/*Submenu comes from LEFT side*/
.dropdown-submenu > .dropdown-menu.submenu-left {
	left: -100%;
}

.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}

@media (max-width: 990px) {
	.dropdown-submenu > .dropdown-menu {
		display: block;
		margin-left: 15px;
	}
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
}

.dropdown-menu li [class^="fa-"],
.dropdown-menu li [class*=" fa-"] {
	left: -3px;
	width: 1.25em;
	margin-right: 1px;
	position: relative;
	text-align: center;
	display: inline-block;
}
.dropdown-menu li [class^="fa-"].fa-lg,
.dropdown-menu li [class*=" fa-"].fa-lg {
	/* increased font size for fa-lg */
	width: 1.5625em;
}

/*Menu Icons*/
.menu-icon {
	margin-right: 10px;
	font-weight: 200;
}

/*Dropdown Show*/
.dropdown-show {
	position: relative;
	display: inline-block;
	box-shadow: 0 0 4px #eee;
}

@media (max-width: 990px) {
	.navbar-default{
		box-shadow:none;
	}
	.header .navbar-collapse{
		border:none;
	}
	.navbar{
		margin-bottom:0px;
		border:none;
		z-index: 99;
	}
	nav .custom-caret {
		width: 50px;
		position: absolute;
		top: 0px;
		right: 0px;
		height: 39px;
		line-height:39px;
		cursor: pointer;
		display: block;
		color:#333;
		text-align:center;
	}
	.navbar-brand { height:auto;color:#FFF !important;
		padding:5px;
	}
	.navbar-brand  img{
		height:60px;
	}
	.navbar-nav .open .dropdown-menu {
		border: 0;
		float: none;
		width: auto;
		margin-top: 0;
		position: static;
		box-shadow: none;
		background-color: transparent;
	}
	.dropdown > a:after {
		top: 11px;
		display:none;
	}
}




/* 
.header {
  padding: 15px 75px;
  text-align: center;
  background-image: url("../images/banner.jpg");
  background-repeat: repeat-x;
  width: 100%;
  background-size: cover;
  border-bottom: 3px solid #c2c2c2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.header h1 {
  font-size: 50px;
}
.top {
  overflow: hidden;
  border-bottom: 1px solid #efefef;
}
.top a {
  float: left;
  display: block;
  color: #777777;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  font-family: sourece_san;
}
.top a:hover {
  text-decoration: none;
}
.top i {
  color: #f27cac;
  margin-right: 7px;
}
.login {
  float: right;
}
.login a {
  color: #777777;
  font-size: 11px;
  padding: 0 13px;
  text-transform: uppercase;
}
.flag {
  float: right;
}
.flag a {
  display: inline-block;
}
.flag-vi {
  background: url("../images/flag.png") center left no-repeat;
  width: 20px;
  height: 12px;
}
.flag-en {
  background: url("../images/flag.png") center right no-repeat;
  width: 20px;
  height: 12px;
}
.box_search {
  margin: 30px 16px;
}
.m-search {
  position: absolute;
  z-index: 99;
  padding-top: 28px;
}
.col_search {
  float: left;
}
.col_search span {
  text-transform: uppercase;
  margin-top: 5px;
  font-family: sourece_san;
  font-size: 13px;
}
#searchSubmit {
  background: none;
  border: none;
  margin-top: 10px;
}
#keyword {
  background: no-repeat;
  box-shadow: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #e2e2e2;
  font-size: 13px;
  padding-top: 15px;
}

.logo img {
  width: 285px;
  height: 100px;
}

.shopping {
  position: absolute;
  top: 78px;
  right: 35px;
}

.shopping .cart {
  float: right;
  width: 100px;
  height: 33px;
  border-radius: 50%;
  position: relative;
  z-index: 20;
  margin-left: 10px;
  text-transform: uppercase;
  font-family: sourece_san;
  font-size: 15px;
  padding-top: 30px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  color: #555555;
  padding: 16px;
  font-size: 16px;
  text-transform: uppercase;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 0;
  border-top: 1px solid #e8e8e8;
  margin-top: 15px;
  padding: 14px;
}

.dropdown-content {
  width: 190px;
  display: none;
  position: absolute;
  text-align: left;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown a {
  font-family: Lato-Bold;
  font-size: 12.5px;
  color: #555555;
  text-transform: uppercase;
}
.dropdown-content li {
  list-style: none;
  display: list-item;
  border-bottom: solid 1px #cccccc;
}
.dropdown-content a {
  display: inline-block;
  text-decoration: none;
  font-family: Lato-Bold;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 15px;
  color: #555555;
  text-transform: capitalize;
}

.dropdown-content a:hover {
  color: #e65893;
  text-decoration: none;
}
.dropbtn:hover {
  text-decoration: none;
  color: #e65893;
}
.dropdown:hover .dropdown-content {
  display: block;
} */

/* Footer */
footer {
  background: #0075b1;
  padding: 45px 0px 25px 0px;
  color: #fff;
  float: left;
  width: 100%;
}
footer {
  background: #0075b1;
  padding: 45px 0px 25px 0px;
  color: #fff;
  float: left;
  width: 100%;
}
footer p {
  color: #8ad2f7;
}
footer strong {
  margin-top: 0px;
  margin-bottom: 20px;
  display: block;
}
footer strong span {
  font-size: 13px;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 0px;
  font-family: OpenSansSemibold;
}
footer .info ul {
  list-style: none;
  padding: 0px;
}
footer .info ul li {
  margin-bottom: 15px;
  font-family: arial, "lucida console", sans-serif;
  font-size: 13px;
}
footer .info ul li a {
  font-family: arial, "lucida console", sans-serif;
  font-size: 13px;
  color: #8ad2f7;
}
footer .info ul a {
  color: #fff;
  font-size: 13px;
  line-height: 13px;
}
footer .info ul a:hover {
  color: #fff;
  text-decoration: none;
}

footer .cate ul {
  list-style: none;
  padding: 0px;
}
footer .cate ul li {
  margin-bottom: 15px;
  font-family: arial, "lucida console", sans-serif;
  font-size: 13px;
}
footer .cate ul li a {
  font-family: arial, "lucida console", sans-serif;
  font-size: 13px;
  color: #8ad2f7;
}
footer .cate ul a {
  color: #fff;
  font-size: 12px;
  line-height: 13px;
}
footer .cate ul a:hover {
  color: #fff;
  text-decoration: none;
}
footer .link {
  text-align: center;
}
footer .link a {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  border: solid 1px #0591d9;
  margin: 25px 10px;
}
footer .link a:hover {
  background: #f05b89;
  border: 1px solid #ffffff;
  transition: all 0.5s ease;
}
#copyright {
  color: #fff;
  background: #016da4;
  padding: 5px 0px;
  font-family: "OpenSansLight";
  font-size: 13px;
  height: 42px;
  float: left;
  width: 100%;
}
#copyright span {
  display: block;
  float: left;
  padding: 8px 0;
}
#copyright .counter {
  float: right;
  margin-top: -2px;
  margin-right: 50px;
}
#copyright .counter ul {
  margin: 0;
  padding: 0;
}
#copyright .counter ul li {
  list-style: none;
  font-family: OpenSansLight;
  font-size: 12px;
  display: inline-block;
}
#copyright a {
  color: #fff;
  text-decoration: none;
}

/* về đầu trang */
.back-to-top {
  position: fixed;
  top: auto;
  left: auto;
  right: 15px;
  bottom: 15px;
  font-size: 32px;
  opacity: 0.8;
  z-index: 9999;
  cursor: pointer;
}
#form-register input {
  width: 85%;
  background: #0f8fd0;
  border: none;
  height: 35px;
  padding: 0px 10px;
  color: #fff;
  float: left;
}
#form-register button {
  border: none;
  background: #016da4;
  height: 35px;
  width: 35px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
#form-register ::-webkit-input-placeholder {
  color: #fff !important;
}
#form-register input:focus {
  outline: none;
}

.back-to-top:hover {
  opacity: 1;
}
